<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>{{appTitle}}</title>
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi'
      crossorigin='anonymous'
    />
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css' />
    {{! <link rel='stylesheet' href='/stylesheets/reset.css' /> }}
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='manifest' href='manifest.json' />
    <link rel='apple-touch-icon' href='../public/images/touch/apple-touch-icon.png' />
    <meta name='theme-color' content='#f8f9fa' />
  </head>
  <body>
    {{#if darkmode}}
    <div class='bg-dark text-light p-3 mb-0 d-flex flex-column min-vh-100'>
      <nav class='navbar navbar-expand-sm navbar navbar-dark'>
    {{else}}
    <div class='p-3 mb-0 d-flex flex-column min-vh-100'>
      <nav class='navbar navbar-expand-sm navbar'>
    {{/if}}

        <div class='container-fluid'>
          <a class='navbar-brand me-5' href='/'>
            <img src='../images/logo.png' alt='do it logo' width='32' height='32' class='me-3' />Do it!</a>


          <button
            class='navbar-toggler'
            type='button'
            data-bs-toggle='collapse'
            data-bs-target='#navbarNav'
            aria-controls='navbarNav'
            aria-expanded='false'
            aria-label='Toggle navigation'
          >
            <span class='navbar-toggler-icon'></span>
          </button>
          <div class='collapse navbar-collapse' id='navbarNav'>
            <ul class='navbar-nav me-auto'>
              <li class='nav-item'>
                <a class='nav-link' aria-current='page' href='/'>Home</a>
              </li>
              {{#if user}}
                <li class='nav-item'>
                  <a class='nav-link' href='/dashboard'>Dashboard</a>
                </li>
              {{/if}}
            </ul>
            <ul class='navbar-nav'>
              {{#if user}}
                <form class='nav-item mb-0' id='logout-form' action='/logout' method='POST'>
                  <button type='submit' class='nav-link btn btn-link'>Logout</button>
                </form>
              {{else}}
                <li class='nav-item'>
                  <a class='nav-link' href='/signup'>Sign up</a>
                </li>
                <li class='nav-item'>
                  <a class='nav-link' href='/login'>Login</a>
                </li>
              {{/if}}
            </ul>
          </div>
        </div>

      </nav>
      <hr class='m-0' />
      {{{body}}}

      <footer class='d-flex justify-content-between pt-3 border-top mt-auto mt-5' >
        <div>
          {{#if user}}
          <form action='/darkmode' method='POST'>
            <button type='submit' class='btn btn-link nav-link text-decoration-none ps-4'>
              {{#if darkmode}}
                <i class='fs-4 text bi bi-lightbulb-fill text-warning'></i>
              {{else}}
                <i class='fs-4 text bi bi-lightbulb-off'></i>
              {{/if}}
            </button>
            {{/if}}
          </form>
        </div>
        <div id="impressum">
          <span class='mb-1 mb-md-0 text-muted'><i class='bi bi-check-square me-2'></i>&copy; 2022 Patrick Groot
            <a href='https://github.com/Patrick-Groot'><i class='bi bi-github text-secondary'></i></a></span>
          <span class='mb-1 mb-md-0 ms-2 text-muted'>Bernd Havekost
            <a href='https://github.com/hvkst'><i class='bi bi-github text-secondary'></i></a>
          </span>
        </div>
      </footer>

      <script
        src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js'
        integrity='sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3'
        crossorigin='anonymous'
      ></script>
      <script src='../js/appSw.js'></script>
      <script src='../js/script.js'></script>
    </div>

  </body>
</html>