<div class='p-3'>

  {{#with foundUser}}
    <h1 class='display-5 mt-3 mb-5 border-bottom d-inline-flex px-3'>Welcome {{username}}!</h1>
    {{#if lists}}
      <h3 class='mt-3'>Your lists:</h3>
    {{else}}
      <h4 class='mt-3'>You have no lists yet :(</h4>
    {{/if}}
    <table class='table table-hover list'>
      {{#each lists}}
        <tr>
          <td class='min-width'>
            <form class='nav-item' action='/{{this.id}}' method='POST'>
              {{! <input type="text" name! value! hidden> *Idee von Rico, wie man "versteckt" values mitschickt...}}
              <button type='submit' class='btn btn-outline-secondary ps-4 pe-4 mt-2'>{{this.name}}</button>
            </form>
          </td>
          {{!-- <td>
            <p class='text-muted'>{{toLocaleString this.createdAt}}</p>
          </td> --}}
          <td>
            <div class='btn-group'>
              <button
                type='button'
                class='btn btn-secondary btn-sm dropdown-toggle mt-2'
                data-bs-toggle='dropdown'
                aria-expanded='false'
                data-bs-auto-close='outside'
              >
                Edit
              </button>

              <form class='row dropdown-menu' id='editForm' action='/{{this.id}}/edit' method='POST'>
                <div class='col-md-auto'>
                  <label for='name'>Edit Name:</label>
                </div>
                <div class='col-md-auto'>
                  <input type='text' name='name' value='{{this.name}}' class='form-control form-control-sm mb-1' required />
                </div>
                <div class='col-md-auto'>
                  <button type='submit' class='btn btn-secondary btn-sm'>Save changes</button>
                </div>
              </form>

            </div>
            <div class='col-md-auto'>
              <td>
                <form class='w-50 mt-2' action='/{{this.id}}/delete' method='POST'>
                  <button class='btn btn-link' type='submit'><i class='bi bi-x-circle-fill text-danger'></i></button>
                </form>
              </td>
            </div>
          </td>
        </tr>
      {{/each}}
    </table>
  {{/with}}

  <form class='w-25 mt-2' action='/newlist' method='POST'>
    <div class='mb-4'>
      <label for='listName' class='form-label text-secondary'>Create new List</label>
      <input type='text' name='listName' class='form-control' required />
    </div>
    <button type='submit' class='btn btn-secondary'>Save new list</button>
  </form>
</div>