<h2>List name {{list.name}}</h2>
<p>List id {{list._id}}</p>

<table class='table table-hover w-50'>
  {{#each list.items}}
    <tr>
      <td> <h4>{{name}}</h4> </td>
        <td><p>{{deadline}}</p></td>
      <td>
        <div class='btn-group'>
          <button
            type='button'
            class='btn btn-secondary btn-sm dropdown-toggle'
            data-bs-toggle='dropdown'
            aria-expanded='false'
            data-bs-auto-close='outside'
          >
            Edit
          </button>

          <form class='row dropdown-menu' id='editForm' action='/{{../list._id}}/{{_id}}/edit' method='POST'>
            <div class='col-md-auto'>
              <label for='name'>Edit Name:</label>
            </div>
            <div class='col-md-auto'>
              <input type='text' name='name' value='{{name}}' class='form-control form-control-sm mb-1' required />
            </div>
            <div class='col-md-auto'>
              <label for='name'>Edit Deadline:</label>
            </div>
            <div class='col-md-auto'>
              <input type='date' name='deadline' value='{{deadline}}' class='form-control form-control-sm mb-1'/>
            </div>
            <div class='col-md-auto'>
              <button type='submit' class='btn btn-secondary btn-sm'>Save changes</button>
            </div>            
          </form>
        </div>
        <div class='col-md-auto'>
          <td>
            <form class='mt-2' action='/{{../list._id}}/{{_id}}/delete' method='POST'>
              <button class='mb-2 ms-2' type='submit'><i class='bi bi-x-circle-fill text-danger'></i></button>
            </form>
          </td>
        </div>
      </td>
    </tr>
  {{/each}}
</table>

<form class='w-25 mt-2' action='/{{list._id}}/newitem' method='POST'>
  <div class='mb-4'>
    <label for='itemName' class='form-label text-secondary'>Create new item</label>
    <input type='text' name='itemName' class='form-control' required />
    <input type="date" name="itemDeadline" class="form-control form-control-sm mb-1 mt-1">
  </div>
  <button type='submit' class='btn btn-secondary'>Save new item</button>
</form>